//!variables
//colors
$dark: #050304;
$red: #860202;
$orange: #bc7828;
$yellow: #ffc601;
$beige: #f2bc78;
$white: #fdfefd;
$green: #50bc45;
$gray: #939493;

//fonts
$bebas: "Bebas Neue", cursive;
$montserrat: "Montserrat", sans-serif;

.aboutUs {
  margin: 0 auto;
  width: 70%;

  .aboutUsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;

    .aboutUsleft {
      width: 50%;
      height: 425px;
      padding: 40px;
      position: relative;

      .pizza1 {
        position: absolute;
        z-index: 3;
        top: 80px;
        left: -3px;
        transition: 1s;
        transform: rotate(-27deg);
        border-radius: 5px;
      }
      .pizza1:hover {
        transition: 1s;
        z-index: 200;
        transform: scale(1.1);
        cursor: pointer;
      }

      .pizza2 {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transform: rotate(-9deg);
        border-radius: 5px;
        transition: 1s;
      }
      .pizza2:hover {
        transition: 1s;
        z-index: 200;
        transform: scale(1.1);
        cursor: pointer;
      }
      .pizza3 {
        position: absolute;
        z-index: 2;
        top: 124px;
        left: 173px;
        border-radius: 5px;
        transition: 1s;
        transform: rotate(-20deg);
      }
      .pizza3:hover {
        transition: 1s;
        z-index: 200;
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    .aboutUsText {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: -10px 10px 0 10px ;
  //    height: 300px;
      p {
        text-align: left;
        font-size: 1.5em;
      }
    }
  }
}
