//!variables
//colors
$dark: #050304;
$red: #860202;
$orange: #bc7828;
$yellow: #ffc601;
$beige: #f2bc78;
$white: #fdfefd;
$green: #50bc45;
$gray: #939493;

//fonts
$bebas: "Bebas Neue", cursive;
$montserrat: "Montserrat", sans-serif;

.navbar {
  background-color: transparent;
  height: 80px;
  position: fixed;
  top: 10px;
  right: 10px;

  .menu-bars {
    margin-right: 2rem;
    font-size: 2rem;
    background: none;
    color: $white;
  }
}

a {
  color: $white;
  margin-right: 2rem;
}

.nav-menu {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  background-clip: padding-box;
  border: 1px solid transparent;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.nav-menu.active {
  right: 0;
  z-index: 200;
  transition: 350ms;

  .menu-points {
    position: absolute;
    top: 25%;
    left: 0;
    transform: translateY(-25%);
    width: 100%;
  }
}

.nav-text {
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: $white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  transition: 1s;
  outline: none;
}

.nav-text a:hover {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(20px);
  background-clip: padding-box;
  transform: scale(1.1);
  transition: 1s;
  outline: none;
  color: $yellow;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-clip: padding-box;
  border: 1px solid transparent;
  width: 100%;
  height: 80px;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
  width: 100%;
  font-family: $bebas;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
.socials {
  position: relative;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);

  .decor {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 80%;
    border-radius: 3rem;
    background: rgb(0, 140, 69);
    background: linear-gradient(
      90deg,
      rgba(0, 140, 69, 1) 0%,
      rgba(244, 245, 240, 1) 50%,
      rgba(205, 33, 42, 1) 100%
    );
  }

  .rest-name {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    color: white;
    font-family: $bebas;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
}
