//! HEADER

$bebas: "Bebas Neue", cursive;
$orange: #bc7828;
$yellow: #ffc601;
$beige: #f2bc78;
$white: #fdfefd;
$green: #50bc45;
$gray: #939493;

@media screen and (max-width: 1600px) {
  .wrapper {
    height: 100%;
    max-width: 100vw;

    .header {
      .header-text {
        width: 80%;

        span {
          width: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    height: 100%;
    max-width: 100vw;

    .header {
      .header-text {
        width: 80%;

        span {
          width: 40%;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    height: 100%;
    max-width: 100vw;

    .header {
      .header-text {
        width: 80%;

        h1 {
          font-size: 4em;
        }

        span {
          width: 45%;
        }

        .sloganText {
          font-size: 2em;
          color: $yellow;
          margin: 20px 0 0;
        }
        h3 {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .header {
      .header-text {
        top: 75%;
        left: 20%;
        transform: translate(-20%, -75%);
        span {
          width: 60%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    max-width: 100vw;

    .header {
      .header-text {
        h1 {
          font-size: 4em;
        }

        span {
          width: 80%;
        }

        .sloganText {
          font-size: 2em;
          color: $yellow;
          margin: 20px 0 0;
        }
        h3 {
          font-size: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
}
